body
{
	background-color:#CCCCCC;
	font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;	
	font-size:16px;
	color:#000062;	
	background: url('../Images/light_gray.png') repeat transparent;	
	margin:0;
	padding:0;	
}

#divMain
{
	width:100%;	
}

#divContentArea
{
	width:800px;
	overflow:auto;
	background-color:#ffffff;
	margin:0;	
	box-shadow:0px 2px 2px 2px #c0c0c0;	
	-moz-box-shadow: 0px 2px 2px 2px #c0c0c0;
 	-webkit-box-shadow: 0px 2px 2px 2px #c0c0c0;
	border-left:1px solid #C0C0C0;
	border-right:1px solid #C0C0C0;
	min-height:786px;
}

#divHeading
{
	margin:10px;
	border-radius:5px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#003399'); 
    background: -moz-linear-gradient(top,  #6699FF ,  #003399);
    background: -webkit-gradient(linear, left top, left bottom, from(#6699FF), to(#003399));
    color:#fff; 
    box-shadow:-2px 4px 4px 1px #c0c0c0;	
	-moz-box-shadow: -2px 4px 4px 1px #c0c0c0;
 	-webkit-box-shadow: -2px 4px 4px 1px #c0c0c0;
 	padding:10px;
}

#divBreadcrumb
{
	font-size: 13px;
	margin-top:30px;
	padding-left:15px;
	min-height:13px;
}

#divHomeMain, #divOutputMain, #divMaterialMain
{
	margin:10px 10px 10px 10px;
	width:530px;
	background-color:#D7E0F4;
	padding:10px 10px 10px 10px;
	border:1px #3366CC solid;
	border-radius:5px;
	box-shadow:-2px 4px 4px 1px #c0c0c0;
}

#divOutputMain
{	
	width:auto;
}

#divMain #divContentArea #divOutputMain #divTabs #tblTabs #trTabs td
{
	padding:5px;
	min-width:10px;
}

#divMaterialMain
{
	width:auto;
}

h1
{
	color:#fff;
	text-transform:uppercase;
}

h2
{
	text-transform:uppercase;
}

h3
{
	text-transform:uppercase;
	padding:0;
	margin:0;
	margin-top:20px;
}

hr
{
	border-top:1px #6699FF solid;	
	margin-bottom:20px;
}

a, a:link, a:visited
{
	color:#000062;
}

.Message
{
	color:#FF0000;
	font-size:16px;
}

.Validation
{
	font-weight:bold;
	padding:0px 4px 0px 4px;
	border:1px #FF0000 solid;
	background-color:#FFCCCC;
	cursor:help;
	border-radius:5px;
	margin-left:5px;
}

#divSpacer
{
	width:100%;
	height:25px;	
}

table
{
	border:none;
	padding:0;
}

#divMain table tbody tr td
{
	padding:10px;
	min-width:190px;
}

#divProbOfCarbCorrInit table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divChangeIncarbonationDepth table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divCorrosionRate table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divProbChlCorrInit table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divChIncConAtCov table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divChgCorrRate table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divProbOfCarbCorrDmg table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divProbOfChlCorrDmg table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divRebLossDueToCarb table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divRebLossDueToChlIng table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divChgInCarbDepth table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divProbOfChlCorrInit table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divChgInChlConAtCvr table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divRebLossDueToCarbCorr table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divRebLossDueToChlCorr table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divProbOfBorAttUntRepA1FI table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divProbOfBorAttUntRepA1B table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divMeanBorAttDepthA1FI table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divMeanBorAttDepthA1B table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divProbOfBorAttUntilRep table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divMeanBorerAttackDepth table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divMeanBorerAttackDepthAlt table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divCorrosionLoss table tbody tr td
{
	padding:10px;
	min-width:10px;
}

#divMaterialMain table tbody tr td
{
	min-width:150px;
}

#divButtons
{
	width:490px;
	margin: 10px 0 0 0;
}

#divButtons input, .Buttons
{
	width:120px;
	height:35px;
	border:1px #003399 groove;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#003399'); 
    background: -moz-linear-gradient(top,  #6699FF ,  #003399);
    background: -webkit-gradient(linear, left top, left bottom, from(#6699FF), to(#003399));
    cursor:pointer;
    border-radius:3px;
}

.Grid
{	
	width:auto;
	height:20px;
	font-size:13px;
	vertical-align:middle;
}

.AutoSize
{
	width:auto;
}

.Upload
{
	width:auto;
	height:auto;
	border:1px #003399 groove;
	font-size:14px;
	font-weight:bold;
	border-radius:3px;
}

.Textbox, .Dropdown
{
	background: #ffffff; 
	outline: 0px; 
	border-radius: 2px; 
	border: 1px solid rgb(160, 160, 160); 
	width: 260px;
	color: rgb(83, 83, 83); 
	font-size: 16px; 
	box-sizing: border-box; 
	box-shadow: inset 0px 2px 2px rgba(0,0,0,0.2), 0px 2px 2px #D7E0F4;
	-webkit-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.2), 0px 2px 2px #D7E0F4;
	padding:5px;
	vertical-align:middle;
}

.Mini
{
	width:150px;
}

.Mini2
{
	width:120px;
}


.Micro
{
	width:100px;
}

.Grd
{
	width:132px;
}

#tblTabs
{
	border:1px #4479B9 solid;
	background-color:#fff;
	width:440px;
}

#tblTabs tbody tr td
{
	min-width:1px;
	padding:10px 5px 10px 5px;
	border:1px #4479B9 solid;
}

.SelectedTab
{
	background-color:#3366CC;
	color:#fff;
}

#divGraph
{
	border:2px #4479B9 solid;
	width:auto;
	height:auto;
	position:relative;
	top:-2px;
}

#divGraph img
{
	border:none;
	width:744px;
	margin:5px;
}

#divDownloadOutputData
{
	width:auto;
	height:auto;
	position:relative;	
	font-size: 13px;
}

#divHeader2Alt
{
	font-size: 23px;
	font-weight:bold;
	text-transform:uppercase;
}

.Right
{
	float:right;
}

.Left
{
	float:left;
}

/* --- Popup --- */
.divMsgOuter
{
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    vertical-align:middle;
    z-index:11;  
    azimuth:center;  
    height:100%;
    position:fixed;  
}

.divMsgOuter table tbody tr td
{
    vertical-align:middle;
    padding:0;
}

#divMsg
{
    min-width:200px;
    min-height:100px;
    border-color: #003399;
    border-style:double;
    border-width:medium;
    background-color:#ffffff;   
    filter: alpha(opacity=99);
    opacity: 0.99;
    z-index:0; 
    vertical-align:middle;
    width:auto;
    height:auto;
    max-width:300px;
}

#divMsg div
{
	margin-bottom:10px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#003399'); 
    background: -moz-linear-gradient(top,  #6699FF ,  #003399);
    background: -webkit-gradient(linear, left top, left bottom, from(#6699FF), to(#003399));
	color:#ffffff;
	padding:5px;
}

#tblLoader, #tblLoader tbody tr td
{
    height:100%;
    vertical-align:middle;
    z-index:0;
    min-width:40px;
}

#tblLoader
{
    margin-left:5px;
    margin-right:5px;
}

#divMsg table tbody tr td img
{
	width:44px;
	height:44px;
	margin-right:10px;
}

#tblLoader tbody tr td input
{
	width:75px;
	padding:5px;
	height:auto;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/*--- Legends ---*/
#divLegends
{
	font-size:12px;
}

#divLegends div
{
	width:300px;
}

#divViewConcrete table, #divViewTimber table, #divViewSteel table
{
	border:2px #003399 solid;
}

#divViewConcrete table tbody tr td, #divViewTimber table tbody tr td, #divViewSteel table tbody tr td
{
	min-width:50px;
	padding:2px 5px 2px 5px;
	border:1px #003399 solid;
}

#divViewConcrete table th, #divViewTimber table th, #divViewSteel table th
{
	background-color:#3366CC;
	color:#fff;
	text-align:center;
	padding:5px;
	border:1px #003399 solid;
}

.tdLegendItem
{
	background-color:#3366CC;
	color:#fff;
}

#divViewTimber #tblUploadControl, #divViewConcrete #tblUploadControl, #divViewSteel #tblUploadControl
{
	border:none;
	width:100%;
	padding:0;
	margin:0;
}

#divViewTimber #tblUploadControl tbody tr td, #divViewConcrete #tblUploadControl tbody tr td, #divViewSteel #tblUploadControl tbody tr td
{
	border:none;
	padding:0;
	margin:0;
}

#divViewConcrete, #divViewTimber, #divViewSteel
{
	overflow:hidden;
}

.NoMargin
{
	margin:0;
}


#divUpload 
{
    width:300px;
    height:150px;
    background-color:rgb(215, 224, 244);
}

#UploadHeading 
{
    margin-bottom:10px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#003399'); 
    background: -moz-linear-gradient(top,  #6699FF ,  #003399);
    background: -webkit-gradient(linear, left top, left bottom, from(#6699FF), to(#003399));
	color:#ffffff;
	padding:5px;
    height:25px;
    cursor:move;    
}

#divUploadContent 
{
    height:40px;    
    margin-top:40px;
}

#divHeadingText 
{
    float:left;
    height:20px;
}

#divHeadingText h4 
{
    position:relative;
    top:-20px;
}

#cmdClose 
{
    float:right;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003399', endColorstr='#6699FF'); 
    background: -moz-linear-gradient(top,  #003399 ,  #6699FF);
    background: -webkit-gradient(linear, left top, left bottom, from(#003399), to(#6699FF));
	color:#ffffff;
    padding:4px;
    border-radius: 5px; 
    border:1px solid #4479B9;
    cursor:pointer;
}

#lblUploadMsg 
{
    color:#FF0000;
}

#divViewConcrete .AssetDetailDiv table, #divViewConcrete .AssetDetailDiv table tbody tr td 
{
    border:none;
}

#divViewTimber .AssetDetailDiv table, #divViewTimber .AssetDetailDiv table tbody tr td 
{
    border:none;
}

#divViewSteel .AssetDetailDiv table, #divViewSteel .AssetDetailDiv table tbody tr td 
{
    border:none;
}

.AssetDetailDiv 
{
    padding:0 30px 0 30px;
}

#divGridConcrete 
{
    overflow-x: auto;
}

#divGridTimber 
{
    overflow-x: auto;
}

#divGridButtons input 
{
    width: 16px;
    height: 16px;
    background:none;
    border:none;
    cursor:pointer;
}